* {
    font-family: "Poppins", sans-serif;
}

.welcome {
    height: 120px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome__container {
    display: flex;
    gap: 20px;
}

.box {
    background-color: #000000;
}

.welcome__h1 {
    color: #95ff00;
    text-shadow: 0px 0px 20px #ffff31;
    font-family: sans-serif;
    font-size: 50px;
}

.box {
    animation: move2 3s forwards ease-in-out;
    border-left: 2px solid #fbff00;
}

@keyframes move2 {
    from {
        margin-left: -320px;
        width: 310px;
    }
    to {
        margin-left: 0px;
        width: 0;
    }
}

.project__cards {
    background-color: #111111;
    display: flex;
    padding: 40px 0px;
    gap: 50px;
    justify-content: center;
    height: 675px;
    flex-wrap: wrap;
    overflow: auto;
}

.project__card {
    width: 400px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px #95ff00;
}

.project__card img {
    width: 100%;
    height: 500px;
    border-radius: 20px 20px 0px 0px;
}

.project__card div {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.project__card a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.project__card a:hover {
    color: #95ff00;
}
